---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post__meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateCreated pubdate datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      {%- if page.tags.size > 0 -%}
        <br />
        <span itemprop="tags">
          {{"Tags: "}}
          {%- for tag in page.tags -%}
          <!-- <a href="{{ '/tag/' | append: tag | relative_url }}">{{tag}}</a> -->
          {{tag}}
            {%- if tag != page.tags.last -%}
              {{", "}}
            {%- endif -%}
          {%- endfor -%}
        </span>
      {%- endif -%}
    </p>
  </header>

  <div class="post__content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
